.features {

  background-color: $Light-Grayish-Blue;
  padding: 2rem 10rem;

  @media (max-width: 28.125em) {
    padding: 2rem 3rem;
    text-align: center;
    
  }

  &__header{
    margin-top: 6rem;
    font-size: 3.2rem;
    font-weight: 300;
    color: $Dark-Blue;
    margin-bottom: 2rem;
  }

  &__paragraph{
    color: $Grayish-Blue;
    font-size: 1.5rem;
    line-height: 1.6;
  }

  &__list{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;

    @media (max-width: 28.125em) {
      flex-direction: column;
    }

  }

  &__item{
    flex: 0 0 22%;
    display: flex;
    flex-direction: column;

    @media (max-width: 28.125em) {
      align-items: center;
      margin-bottom: 3rem;
    }

    &__img{
      width: 7rem;
      height: 7rem;
      margin-bottom: 3rem;
    }

    &__header{
      font-size: 2.3rem;
      font-weight: 300;
      color: $Dark-Blue;
      margin-bottom: 3rem;
    }

    &__paragraph{
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.6;
      color: $Grayish-Blue;
    }
  }
}